/* Globals */
:root{
    --main-color:#fff;
    --layer:rgba(255, 0, 17, 0.284);
    --primary-color:#e68285;
    --red-color:#dc3545;
    --secondary-color:#ccc;
}
/* Reusable */
.layer{
    background-color:var(--layer) ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
/* First section Header */
.header{
    background-image: url('../img/events-heavenly-header.jpg');
    background-size: cover;
    height: 90vh;
    background-position:right bottom ;
    color: var(--main-color);
    position: relative;
    
}
.header h1 ,.header h5{
    z-index:999;
}

.header .menu {
    left: 0;
    top:0;
}
.header .menu .content{
    background-color: black;
    height: 90vh;
    transform: translateX(-100%);
    
}

.header .menu .content ul{
    list-style: none;
}
.header .menu .content ul li{
    margin-bottom: 3rem;
}
.header .menu .content ul li a{
     text-decoration: none;
    color: var(--main-color);
}
.header .menu .ico{
    left: 10%;
    top: 50%;
}

/* Second section indecator */

#indecator .content h3{
    background-color:var(--primary-color) ;
    color: var(--main-color);
}

#indecator .content p{
    background-color: #ccc;
}

#indecator .content p:not(.first){
    display: none;
}

/* third section timer */
#timer{
    width: 100%;
    height: 200px;
    background-image: url('../img/invitation-2508607__340.jpg');
    background-position:right top;
    background-size: cover;
}
#timer .item{
    z-index:999;
    position: relative;
    color: var(--main-color);
}

/* fourth section Contact */
#contact{
    margin-block: 100px;
}
#contact .row ul{
    list-style: none;
}
#contact .row ul span{
    color: var(--red-color);
}
#contact .row .icons i{
    width: 50px;
    height: 50px;
}
#contact form p span{
    color: var(--red-color);
}

#contact form button{
    background-color: var(--red-color);
    border: none;
    color: var(--main-color);
}


